.contentbox1 {
  display:block;
  background-color:red;
  border: 1px solid grey;
  height:175px;
  width:100%;
  margin:10px;
  align-items: center;
  padding:0;
  margin-left:3px;
  margin-right:3px;
}

 .contentbox2 {
   display:block;
   background-color:red;
   border: 1px solid grey;
   height:175px;
   width:100%;
   margin:10px;
   align-items: center;
   padding:0;
   margin-left:3px;
   margin-right:3px;
   
 }

input {
  display:flex;
  border-radius:2px;
  color:none;
  box-shadow: none;
  background-color:#f5f5f5;
  align-items:top-right;  
  padding:4px 6px;
  margin:0;
}

header {
  width:100%;
  height:100px;
  display:inline-block; 
}

h1 {
  display:flex;
  padding-right:10px;
  font-size:normal;
}

body {
  background: linear-gradient(135deg, #f0f4f8, #c8d0d8);
  height:100vh;
  width:100%;
  padding: 0;
  margin:0;  
}

#content {
  align-items:center;
  height:calc(100vh-90px);
  display:flex;
  flex-direction:column;

}

#footerc {
  display:flex;
  align-content:bottom;  
  
}

.home {
  border-sizing:border-box;
  width:50%;
  
}

.profile {
  border-sizing:border-box;
  width:50%;
}
