.contentbox1 {
  display:block;
  background-color:red;
  border: 1px solid grey;
  height:200px;
  width:100%;
  margin:10px;
  align-items: center;
  padding:0;
  margin:0;
}

 .contentbox2 {
   display:block;
   background-color:red;
   border: 1px solid grey;
   height:200px;
   width:100%;
   margin:10px;
   align-items: center;
   padding:0;
   margin:0;
 }

input {
  display:inline;
  border-radius:2px;
  color:none;
  box-shadow: 0;
  background-color:#f5f5f5;
  align-items:top-right;  
  padding:0;
  margin:0;
}

header {
  width:100%;
  height:100px;
  display:inline-block;
  position:fixed;  
}

h1 {
  display:inline;
  padding-right:10px;
  font-size:normal;
  position:fixed;
}

body {
  background: linear-gradient(135deg, #f0f4f8, #c8d0d8);
  height:100vh;
  width:100%;
  padding: 0;
  margin:0;  
}

#content {
  align-items:center;
  height:calc(100vh-90px);
  display:flex;
  flex-direction:column;

}

#footerc {
  align-items:bottom;
  position: fixed;
  background-color:grey;
  color:black;
  display:flex;
  flex-direction:row;
  
}

.home {
  position:relative;
  align-items:bottom-right;
  border-sizing:border-box;
  
}

.profile {

  position:relative;
  align-items:bottom-left;
  
}
