.contentbox {
  display:inline;
  background-color:red;
  border: 10px solid black;
  height:200px;
  width:200px;
  margin:10px;

}

input{
  display:inline;
  border-radius:2px;
  color:yellow;
  box-shadow:2px 0 ;
  background-color:yellow;
  
}

header{
  width:100%;
  height:100px;
  
}

h1{
  display:inline;
  padding-right:10px;
}

body{
  background: linear-gradient(135deg, #f0f4f8, #c8d0d8);
  height:100vh;
  width:100%;
  padding: 0;
  
}
