
section {
    position:center;
    width:100px;
    height:70px; 
    color:grey;
    border:red;
}

input {
    background: cronsilk;
    color:green;
    position:center;
    
}

button {
    color:black;
    background:blue;
    fontweight:bold;
    position:center;
    
    
}
header{
    textalign:middle;
    border:red;
    fontfamily:arial;
    letterspacing:normal;
    
}
