
div {
    position:center;
    width:100px;
    height:70px; 
    color:grey;
    border:red;
    text-align:center;
}

login-container {
    background: cronsilk;
    color:green;
    position:center;
    padding:30px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    text-align:center;
    width:300px;
    margin-top:100px;
    border-radius:8px;
    
}

button {
    color:black;
    background:blue;
    fontweight:bold;
    position:center;
    
    
}
header{
    text-align:center;
    border:red;
    fontfamily:arial;
    letterspacing:normal;
    
}

form {
    align-items:center;
    flex-direction:column;
    display:flex;
  
}
