div{
  text-align:center;
  padding:30px;
  color:red;
  background:black;
  border-radius:15px;
}
body {
    background: linear-gradient(135deg, #f0f4f8, #c8d0d8);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box {
    background-color: #ffffff;
    padding: 35px;
    border-radius: 25px;
    width: 300px;
}
.page-title {
    font-family:sans-serif; 
    color:#ff3b3f;
}
.login-button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
