body {
  background: linear-gradient(135deg, #f0f4f8, #c8d0d8);
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  text-align:top;
  padding: 15px 0;
}

header h1 {
  color: #ff4444;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  margin-top: 20px;
  text-align:center;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: black;
  color: red;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.login-box input {
  display: block;
  width: 220px;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.login-box button {
  background: red;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: 0.3s;
}

.login-box button:hover {
  background: #ff6666;
  transform: scale(1.05);
}

footer {
  width: 100%;
  background: linear-gradient(135deg, #f0f4f8, #c8d0d8);
  text-align: left;
  padding: 15px 25px;
  box-sizing: border-box;
}

footer h3 {
  font-weight: bold;
  margin: 0 0 8px 0;
  color:#e5de00;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  margin: 5px 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  color: #444;
}

#calculator {
  height: 40px;
  width: 100px;
  broder: 2px ;
  border-radius: 20px;
  box-shadow: 3px 3px 5px black;
}

p {
  font-family: sans-serif;
  justify-content: center;
  colour:#ff4444 ;
  
}
